  <div>
    <% for entry in @entries %>
	  	<h1><%= link_to entry.title, entry_path(entry), class: 'post-title' %></h1>
	    <p><%= entry.date %></p>
	  	<p class="post-content"><%= entry.contents %></p>
		<% end %>
		<%= link_to("New entry", new_entry_path) %>
  </div>