  <div>
    <% for entry in @entries %>
	  	<h1><%= link_to entry.title, entry_path(entry), class: 'post-title' %></h1>
	    <p><%= entry.created_at %></p>
	  	<p class="post-content"><%= entry.contents %></p>
		<% end %>
  </div>
