  <div>
    <% for entry in @entries %>
    	<div id="postwrapper">
	  		<span id="entryTitle"><%= link_to entry.title, entry_path(entry), class: 'post-title' %></span><span id="blogDate"><%= entry.created_at %></span>
	  		<p id="blogContent" class="post-content"><%= entry.contents %></p>
	  		<p id="entryAuthor">Written by:</p>
			</div>
		<% end %>
  </div>