<h1> Lia & Markus </h1>

<p> Couple of weirdos exploring the world of programming while traveling and developing other passions!</p>

<h2>He</h2>
<p>Swedish Viking, with background in HR, coaching and recruitment. Born and raised in the cute town of Halmstad. Surrounded by music since early age, mastered playing the piano and guitar. </p>

<p>Experienced gamer he is, always had a soft spot for technology, and that's how he got to programming in the first place. Started with HTML and CSS, quickly progressed to learning JavaScript. Like in life, he loves solving complex problems and won't quit until the solution fits his perfectionist mind.</p>

<p><i>Funny fact! He learnt how to sing before he learnt how to speak </p></i>

