<h1> Lia & Markus </h1>

<p> Couple of weirdos exploring the world of programming while traveling and developing other passions!</p>

<h2>She</h2>
<p>Being an engineer and having studied masters in innovation, time has proven that she is not only beautiful but also highly intelligent. Orignally from Poland but considers herself a citizen of the world, she has traveled all over the world and has been part of a lot of projects. Everything from running business incubations in The Netherlands and smart city building in London to pyramid scouting in Egypt.</p>

<p>She dives deeply and fearlessly into the backend side of programming and does not rest untill everything is up and running, efficiently and secure. She quickly picked up Ruby and Ruby on Rails and soon moved on to building databases with MySQL. Being the talent she is, and all her experience from different projects, she is a solid person to have on the team and also, an amazing girlfriend. :)</p>

<h2>He</h2>
<p>Swedish Viking, with background in HR, coaching and recruitment. Born and raised in the cute town of Halmstad. Surrounded by music since early age, mastered playing the piano and guitar. </p>

<p>Experienced gamer he is, always had a soft spot for technology, and that's how he got to programming in the first place. Started with HTML and CSS, quickly progressed to learning JavaScript. Like in life, he loves solving complex problems and won't quit until the solution fits his perfectionist mind.</p>

<p><i>Funny fact! He learned how to sing before he learnt how to speak </p></i>

