/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body { 
  margin: 0;
  padding: 0;
}

/* Navbar */
/* change to button menu at 768px */
.navbar {
	width: 100%;
	margin-bottom: 0 !important;
}

.navbar-default {
	margin: 0;
}

/* Jumbotron and Wrapper */
.wrapper {
	margin-top: 50px;
}
#logo {
 	text-align: center;
 	margin: 0;
 	padding: 0;
 }

/* Blog */
#blog {
  background-color: white;
  width: 70%;
  margin: auto;
  padding: 25px 50px 50px 50px;
  border: solid;
}
.post-title {
	color: black;
	text-decoration: none;
}
.post-title:hover {
	color: gray;
	text-decoration: none;
}

