@import "bootstrap-sprockets";
@import "bootstrap";
@import "entries.scss";
@import "comments.scss";
@import "pages.scss";
@import "contact_forms.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: #AC8A57;
}

p, a {
	font-family: $open-sans;
  font-weight: normal;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto-slab;
  font-weight: normal;
}

/* Navbar */
/* change to button menu at 768px */
.navbar {
	width: 100%;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	background-color: #796649;
	border: none;
	border-bottom: solid 3px;
	border-left: solid 20px;
	border-color: #58f7d4;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-brand {
	color: white !important;
}
.navbar-brand:hover {
	color: black !important;
}

/* Logo and Wrapper */
#logoimg {
	display: block;
	margin: auto;
	padding: 15px 0 0px 0;
	width: 100%;
	max-width: 1000px;
}

.wrapper {
	margin-top: 50px;
}

/* Blog */
#blog {
	width: 70%;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;	
	background-color: white;
	padding: 25px 50px 50px 50px;
	outline-color: rgba(255, 255, 255, .2);
	outline-style: solid;
	outline-width: 10px;
}

.post-title {
	color: black;
	text-decoration: none;
}
.post-title:hover {
	color: gray;
	text-decoration: none;
}

