<!DOCTYPE html>
<html>
<head>
  <title>Code Couple</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="logo">
  	<a title="home" href="/"><img src="/assets/logo.jpg" alt="logo" /></a>
  </div>
  <div id="blog">
  <h2>The life of a Code Couple</h2>
<%= yield %>
</div>
</body>
</html>
