<!DOCTYPE html>
<html>
<head>
  <title>Code Couple</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1> Code Couple </h1>
    <h2>our stories </h2>
<%= yield %>

</body>
</html>
